/* Global */
* {                                                      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Tags */
header {
    background-color: rgb(180, 208, 231);
    width: 100%;
}

body {
    font-size: small;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: left;
}

h3 {
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
}

h4 {
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}

li {
    display: inline-block;
    margin-right: 30px;
    font-size: 15px;
    padding-top: 5px;
    width: auto;
}

ul {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-top: 20px;
}

button {
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;  
}

/* Buttons */
.button-info {
    margin-top: 50px;
    height: 30px;
    width: 100%;
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
}

.button-partner {
    background-color: white;
    color:black;
    border: 1px solid black;
    margin-top: 30px;
}

.button-start {
    background-color: white;
    color:black;
    display: inline-block;
    margin-left: 250px;
}

.button-contact {
    margin-top: 10px;
    height: 30px;
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
    float: right;  
}

/* Containers */
.container-designit {
    padding: 30px;
}

.designit {
    float:left;
    width: calc(100% - 800px) ;
    height: 404px;
    background-color: rgb(245, 245, 245);
}

.container-hero {
    width: 80vw;
    height: auto;
    margin: auto;
    margin-top: 60px;
    padding-top: 50px;
}

.container-col {
    width:  60%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}

.container-3 {
    padding: 30px;
}

.container-contact {
    width: 100%;
    height: auto;
    border: 1px solid lightgray;
    margin: auto;
}

.container-info {
    padding: 20px;
}

.container-text {
    margin-top: 100px;
    
}

.container-start {
    padding: 50px;
    padding-left: 200px;
}

.start {
    margin-top: -4px;
    width: 100%;
    height: 300px;
    background-color: rgb(180, 208, 231);
}

/* Layout Elements */
.col {
    width: calc(100%/3 - 40px);
    height: 800px;
    border: 1px solid lightgray;
    margin-right: 60px;
    float: left;
    margin-top: 50px;
    
}

.col-right {
    width: calc(100%/3 - 40px);
    height: 800px;
    border: 1px solid lightgray;
    float: left;
    margin-top: 50px;
}

.col-title {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding-top: 5px;
}

/* Images */
.img-logo {
    display: inline-block;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

.img-hero {
    height: 450px;
    width: 800px;
    float: right;
    margin-left: 60px;
    position: relative;
    bottom:-50px
}

.img-partner {
    float: left;
    width: 50%;
    height: 50%;
    margin-top: 100px;
    margin-right: 3%;
}

.img-feature {
    height: 100%;
    width: 100%;
}

.img-square {
    width: 80%;
    height: 80%;
    filter: brightness(0) invert(1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-designit {
    width: 100px;
    height: 50px;
}

/* Text  */
.p-hero {
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.text-grey {
    color: gray;
    margin-top: 10px;
}

.colored-text {
    color: rgb(97, 8, 43);
    display: inline-block;
}

.autor {
    margin-top: 50px;
}

/* Others */
.main-nav {
    width: 100%;
    padding-top: 15px;
    background-color: white;
    position: fixed;
    top:0;
} 

.radio-annual {
    margin-left: 20px;
}

.padding {
    padding-left: 20px;
}

.price {
    margin-top: 10px;
}

.element {
    width: 30%;
    height: 30%;
    float: left;
    margin-left: 2%;
    margin-bottom: 50px;
}

#arrow {
    font-size: 30px;
    margin-top: 30px;
}

.blue {
    color: blue;
}

.list-left {
    margin-right: 450px;
}

#div-small {
    margin-top: 5px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.square {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0;
    border: none;
}

.left {
    float: left;
}

.right {
    float:right;
}

.square-lightgreen {
    background-color: rgb(162, 211, 155);
    margin-right: -4px;
}

.square-bordeux{
    background-color: rgb(97, 8, 43);

}

.square-blue {
    background-color: rgb(0, 147, 206);
    margin-right: -4px;
}

.square-red {
    background-color: rgb(255, 28, 28);
}

.square-darkred {
    background-color: rgb(213, 0, 31);
}

.square-lightblue {
    background-color: rgb(180, 208, 231);
    margin-left: -4px;
}

.square-darkblue {
    background-color: rgb(13, 36, 129);
}

.square-yellow {
    background-color: rgb(255, 216,48);
    margin-left: -4px;
}

