* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgb(180, 208, 231);
    width: 100vw;
    height: auto;
}

h1 {
    font-size: 70px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: inline-block;
    margin-right: 60px;
    font-size: 15px;
    padding-top: 5px;
}

ul {
    display: inline-block;
}
 
p {
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
}

button {
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;

}

.container {
    width: 80vw;
    height: auto;
    margin: auto;
    margin-top:100px;
}

.first-list {
    margin-right: 180px;
}

.second-list {
    margin-left: 100px ;
}

.main-nav {
    width: 100vw;
    height: 60px;
    padding-top: 18px;
    background-color: white;
}


.logo {
    display: inline-block;
    float:left;
    padding-left: 30px;
}

#div-little {
    margin-top: 5px;
}

.hero {
    height: 430px;
    width: 800px;
    float:right;
    margin-left: 60px;
    position: relative;
    bottom:-50px
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

